.contenedor-calculadora {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.form-control {
  text-align: right;
  font-size: 24px;
  height: 60px;
  margin-bottom: 20px;
}

.botones-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  font-size: 20px;
  padding: 10px 0;
}

#clear {
  background-color: rgb(240, 196, 20);
  color: #000;
}

.operador {
  color: rgb(240, 196, 20);
  font-weight: 500;
}
